

.tournamentRow{
    -fx-alignment: center;
    -fx-spacing: 50;
}

.bracketRectangle{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 5px;
}

#vbox{
    -fx-alignment: center;
    -fx-spacing: 50;
}

#layout{
    -fx-font-size: 25px;
    -fx-alignment: top-center;
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#topScreen{
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#topScreenSpacer{
    -fx-min-width: 350px;
    -fx-hbar-policy: never;
    -fx-vbar-policy: always;
}

#layoutSpacer{
    -fx-min-height: 250px;
    -fx-padding: 50px;
}

#returnButton{
    -fx-background-color: red;
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

#returnButton:hover{
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.label{
    -fx-alignment: center;
}