

#layout{
    -fx-vgap: 17px;
    -fx-hgap: 25px;
    -fx-font-size: 25px;
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

#topScreen{
    -fx-spacing: 200px;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#checkBoxList{
    -fx-border-color: black;
    -fx-border-width: 3px;
    -fx-spacing: 2px;
    -fx-padding: 5px;
}

#radioButtonsBox{
    -fx-spacing: 5px;
}

#bottomRight{
    -fx-spacing: 100px;
}


#returnButton{
    -fx-background-color: red;
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

#returnButton:hover{
    -fx-background-color: blue;
    -fx-cursor: hand;
}


.list-view{
    -fx-font-size: 18px;
}
